body {
  margin: 0;
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.img {
  padding: 1%;
  background-image: url("../imagesjustin/mylogo.png");
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}
.heroImg {
  background-color: #ebebeb;
  padding: 100px 15px;
}
.heroImg__image {
  filter: drop-shadow(0 0 15px rgb(0, 213, 255));
}
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
/* UX Skills using CSS Flex */
.flexContainer {
  display: flex;
  width: 33%;
  padding: 5%;
  flex-direction: row;
}
/* My Work using CSS Grid */
.workGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 300px 300px 300px;
}

/*Footer CSS */
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}

/* Mobile Media Query */
@media only screen and (max-width: 600) {
  .flexContainer {
    flex-direction: column;
  }
  .flexContainer > * {
    width: 100%;
  }
}
.workGrid {
  grid-template: 300px 300px 300px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "project_one"
    "project_two"
    "project_three";
}
