/* Code Navbar CSS */
.inline-block {
  display: inline-block;
  vertical-align: top;
  color: rgb(0, 217, 255);
}
.logo {
  width: 90%;
  padding: 1%;
  background-image: url("../images/wow_no_logo.png");
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}
.nav {
  width: 73%;
  padding: 10px;
  display: flex;
  background-color: black;
}
.ul {
  width: 50%;
  margin-left: auto;
}
.navigation {
  width: 100%;
  display: flex;
}

/* Code Hero Image CSS */
.heroImg {
  height: 100%;
  padding: 1px;
  width: 100%;
  position: static;
  background-repeat: no-repeat;
}
.content {
  width: 1000px;
  margin: 0 auto;
  position: center;
}
.heroImg__image {
  filter: drop-shadow(0 0 15px black);
}

/* Code Footer CSS */
.footer {
  display: flex;
  justify-content: left;
  align-items: center;
  background: #373738;
  height: 100px;
}

.footer a {
  padding: 0px 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.ul {
  display: inline-block;
  vertical-align: top;
}

.ab {
  color: rgb(255, 255, 255);
}
.sk {
  color: rgb(255, 255, 255);
}
.wo {
  color: rgb(255, 255, 255);
}
.co {
  color: rgb(255, 255, 255);
}

body {
  font-family: "Inter", sans-serif;
}

/* Notes 
Nav background color isn't working.
Nav text won't space.
Image moves text and button too.
HTML: "li class" doesn't work, but "a href = inlineblock " works
Footer not all the way down.
GitHub not working?
*/
